<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alejandros To Do App</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Schoolbell&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>ALEJANDROS TO-DO APP</h1>
    </header>

    <div id="root">
        <img class="imageAlejandro" src="./media/alejandro.jpg" alt="Alejandro">
        <input type="text" id="input" v-model="ownPeppin" placeholder="Skriv din egna peppin">
        <h1>{{ ownPeppin }}</h1>
<img class="imagePostIt" src="./media/P4.png">
        <div class="container">

            <div class="containerToDo">
                <h2>Att göra idag:</h2>
                <input id="input" type="text" v-model="newToDo">
                <button v-on:click="addToDo">okej</button>


                <div class="containerList">
                    <ul>
                        <li v-for="ToDo in ToDos" v-text="ToDo"></li><input type="checkbox">
                    </ul>
                    <div>
                        <span></span>
                    </div>
                </div>

            </div>

            <div class="containerPostIt">
                <button v-on:click="displayRandomPeppin">Post-it Peppin</button>
                <img class="imagePostIt" src="./media/postIt.png" alt="post-it">
                <h1>{{ chosenPeppin }}</h1>
            </div>

        </div>
    </div>
    </div>

    <!-- Vue.js script source -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>



    <script>



    
    var app = new Vue({

            el: '#root',

            data: {
                ownPeppin: '',
                peppin: ['DU ÄR STARK FAKTISK', 'DU KLARAR AV DET SÄKERT', 'VARJE DAG ÄR INGA PROBLEM', 'DU KLARAR ALLA PROBLEM', 'LIVET ÄR INGA PROBLEM'],
                chosenPeppin: '',
                newToDo: '',
                ToDos: ['por exemplo']
            },

            methods: {

                displayRandomPeppin() {
                    var chosenNumber = Math.floor(Math.random() * this.peppin.length);
                    this.chosenPeppin = this.peppin[chosenNumber]
                    
                },
                addToDo() {
this.ToDos.push(this.newToDo);
   this.newToDo = ''
    }

            }

        });
    </script>

</body>

</html>