<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
    <div id="root">
<div></div>
        <!-- example 1 data binding -->
  <input type="text" id="input" v-model="message">
<p>The value of the input is {{ message }}</p>



<!--  <button v-bind:title="title">hover over me</button>  -->
        
 <!-- example 3 array -->
<!--  <input type="text" id="input" v-model> -->
<ul>
            <li v-for="name in names" v-text="name"></li>
        </ul>

  <input id="input" type="text" v-model="newName">
        <button v-on:click="addName">Add name</button> 

    </div>

    <!-- Vue.js script source -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>

/* example 1  data binding */
 /* let data = {
    message: ''
};
 */

 /* example 1  data binding-vue.js */
/* new Vue({
            el: '#root',

            data:data })  */

/* examle 1 data binding-javascript */


new Vue({
            el: '#root',

            data:{
                names: ['elli', 'ellen', 'elin', 'john'] 
                } 
                }) 

/*
document.querySelector('#input').value = data.message;
 */

                /*
                 title: 'now the title is being set trough JavaScript.'
                 newName: '',
                names: ['elli', 'ellen', 'elin', 'john'] 
            }*/

           /*  methods: {
                addName: function () {
                    this.names.push(this.newName)
                    this.newName = ""
                }
 */

            
        /* message: '',
             foo: 'dog', */

    </script>


</body>

</html>


<!--add name in array. html 
    <input id="input" type="text">
    <button id="button">Add name</button>
JS document.querySelector('#button').addEventlistener('click', () =>{
let name = document.querySelector('#input').value;

app.names.push(name.value);

*removes name from input *
name.value = '';
}) -->