<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alejandros To Do App</title>
    <link rel="stylesheet" href="./stylecopy.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Schoolbell&display=swap" rel="stylesheet">
    
</head>

<body>
    <header>
        <h1>Alejandros to-do app</h1>
    </header>
    <div id="root">
        <img class="imageAlejandro" src="./media/alejandro.jpg" alt="Alejandro">

        <div class="container">

            <div class="containerPostItOwn">
                <input type="text" id="input" v-model="ownPeppin" placeholder="Skriv din egna peppin"  maxlength="48">
                <img class="imagePostIt" src="./media/P6.png">
                <h1>{{ ownPeppin }}</h1>
            </div>

            <div class="containerToDo">
                <div>
                
                    <input id="input" type="text" v-model="newToDo" placeholder="Skriv vad du ska göra">
                    <button v-on:click="addToDo">okej</button>
                    <ul>
                </div>
                <img class="imagePostIt" src="./media/P3.png" alt="post-it">
                <div class="containerList">
                    <li v-for="ToDo in ToDos" v-text="ToDo"></li>
                    </ul>
                </div>
            </div>
            
        <div class="containerPostItPeppin">
            <button v-on:click="displayRandomPeppin">Få post-it Peppin</button>
            <img class="imagePostIt" src="./media/postIt.png" alt="post-it">
            <h1>{{ chosenPeppin }}</h1>
        </div>
        </div>


    </div>
    </div>
    </div>

    <!-- Vue.js script source -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>



    <script>




        var app = new Vue({

            el: '#root',

            data: {
                ownPeppin: '',
                peppin: ['DU KLARAR AV DET SÄKERT!', 'VARJE DAG ÄR INGET PROBLEM', 'VAD KUL DET SKA BLI ATT STÄDA LITE GRAN', 'DU ÄR STARK FAKTISK'],
                chosenPeppin: '',
                newToDo: '',
                ToDos: []
            },

            methods: {

                displayRandomPeppin() {
                    var chosenNumber = Math.floor(Math.random() * this.peppin.length);
                    this.chosenPeppin = this.peppin[chosenNumber]

                },
                addToDo() {
                    this.ToDos.push(this.newToDo);
                    this.newToDo = ''
                }

            }

        });
    </script>

</body>

</html>