* {
    font-family: Arial, Helvetica;
    margin: 0;
    padding: 0;
    
}

header {
    position: fixed;
    top: 0;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: azure;
    color: black;
    z-index: 1;
}

header h1 {
font-family: 'Pacifico', cursive; 
font-size: 3rem;
color: rgb(0, 0, 113);
}

body {
    background-color: azure;
    height: 100vh;
    
}

#root {
margin: 7rem 10% 5% 10%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;  
}

.imageAlejandro {
display:block;
width: 100%;
border: .5rem solid goldenrod;
border-radius: .5rem;
} 


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%; 
    flex-wrap: wrap;
    padding: 2rem 0 2rem 0;
    }



.containerPostItOwn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    flex-wrap: nowrap;
    position: relative;
    padding: 5rem 0 5rem 0;
    word-wrap: break-word;
}

.containerPostItOwn h1 {
position: absolute;
left: 3rem;
top: 10rem;
line-height: 3rem;
transform: rotate(-4deg);
text-align: center;
width: 60%;
font-family: 'Schoolbell', cursive;
text-transform: uppercase;
color:  rgba(0, 0, 0, 0.838);
}



li {
    font-family: 'Schoolbell', cursive;
    line-height: 3rem;
    font-size: 2rem;
    color: rgb(0, 0, 113);  
}

.containerPostItPeppin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    flex-wrap: nowrap;
    position: relative;
    padding: 5rem 0 6rem 0;
}

.containerPostItPeppin h1 {
position: absolute;
left: 3.5rem;
top: 11rem;
line-height: 3rem;
transform: rotate(-11deg);
width: 50%;
text-align: center;
font-family: 'Schoolbell', cursive;
color: rgb(196, 3, 3);
}


.imagePostIt {
    width: 20rem;
}

.containerToDo {
    position: relative;
    padding: 5rem 0 5rem 0;
}

input, button{
    padding: .3rem;
    font-size: .9rem;
    margin: 0 0 .5rem 0;
    border-radius: .5rem;
}

button {
    background-color: gold;
    border: .2rem solid goldenrod;
    text-transform: uppercase;

}


.containerToDo input {
    margin: 0 0 0 4rem;
}
.containerList {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: column; 
    flex-wrap: nowrap;
    margin: 1rem;
    position: absolute;
    top: 10rem;
    left: 4rem;
}



