* {
    font-family: Arial, Helvetica;
    margin: 0;
    padding: 0;
    
}

header {
    position: fixed;
    top: 0;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:  azure;
    color: rgb(255, 85, 113);
}
body {
    background-color: azure;
    height: 100vh;
}

#root {
border: 1px solid black;
margin: 5rem 10% 5% 10%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;  
}

.imageAlejandro {
display:block;
width: 100%;
} 


.container {
    border: 1px solid blue; 
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    width: 100%; 
    }



.containerPostItOwn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    flex-wrap: nowrap;
    position: relative;
}

.containerPostItOwn h1 {
position: absolute;
left: 3rem;
top: 5rem;
line-height: 3rem;
transform: rotate(-4deg);
width: 50%;
text-align: center;
font-family: 'Schoolbell', cursive;
color: blue;
}

li {
    font-family: 'Schoolbell', cursive;
    line-height: 3rem;
    font-size: 2rem;
    color: blue;  
}

.containerPostItPeppin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    flex-wrap: nowrap;
    position: relative;
}

.containerPostItPeppin h1 {
position: absolute;
left: 3rem;
top: 5rem;
line-height: 3rem;
transform: rotate(-11deg);
width: 50%;
text-align: center;
font-family: 'Schoolbell', cursive;
color: rgb(196, 3, 3);
}


.imagePostIt {
    width: 20rem;
}

.containerToDo {
    position: relative;
}

.containerList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    flex-wrap: nowrap;
    margin: 1rem;
    position: absolute;
    top: 5rem;
    left: 2rem;
}




span {
height: 1rem;
  width: 1rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: .1rem 0 0 1rem;
}




